<div class="row list-heading">
	<div class="col-xs-12">
		<h2 class="text-center">Browse Reading Lists</h2>
		<%= form_tag lists_path, method: :get do %>
			<div class="input-group">
				<%= text_field_tag :search, params[:search], class: "form-control", placeholder: "Search lists",
					"aria-describedby" => "basic-addon2" %>
			  <span class="input-group-addon" id="basic-addon2"><%= submit_tag "Search", class: "btn btn-link btn-search" %></span>
			</div>
		<% end %>
		<p class="lower-lead lead text-center">Searching a total of <%= number_to_human(List.count) %> lists</p>
		<div id="index-google-attribution" class="text-center"><%= render "shared/google_attribution" %></div>
	</div>
</div>

<%= render "layouts/flash_messages", modified: true %>

<div class="list-body">
	<% @lists.each do |list| %>
		<% if list.kind_of?(PgSearch::Document) %>
			<% list = list.searchable %>
		<% end %>
		<%= render "shared/list_panel", list: list %>
	<% end %>
	<div class="text-center">
		<%= will_paginate @lists, renderer: BootstrapPagination::Rails %>
	</div>
	<% if user_signed_in? %>
		<%= link_to "Create list", new_list_path, class: "btn btn-default btn-green" %>
	<% end %>
</div>