<% provide(:title, @list.name.html_safe) %>
<div class="row list-heading">
	<div class="col-xs-12">
		<h2><%= @list.name %><%= render "shared/google_attribution" %></h2>
		<p class="lead"><em><%= @list.description %></em></p>
		by <%= link_to "@#{@list.user.username}", user_path(@list.user) %>
	</div>
</div>

<%= render "layouts/flash_messages", modified: true %>

<div class="list-body">
	<div class="share-wrapper">
		<div class="social">
			<% if @list.user == current_user %>
				<%= link_to "Edit list", edit_list_path(@list), class: "btn btn-default btn-green" %>
			<% end %>

			<span class="facebook">
				<div class="fb-share-button" data-href="<%= @url %>" data-layout="button_count"></div>
			</span>

			<span class="twitter">
				<div class="twitter-widget">
					<a href="https://twitter.com/share" class="twitter-share-button" 
					data-text="Check out this awesome reading list: <%= @list.name %>" data-via="toukanco" 
					data-url="<%= @url %>">Tweet</a>
				</div>
			</span>
		</div>
	</div>
	<% @list.list_items.each do |item| %>
		<%= render "shared/book_panel", item: item %>
	<% end %>
</div>