<h2>Edit <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <div class='alert alert-info' role='alert'>
    <%= render "devise/shared/current_password_field", f: f, args: { label_addons: "(we need your current password to confirm your changes)" } %>
  </div>
  <%= render "shared/text_field", f: f, attribute: :email, args: { placeholder: "Email", label_class: "control-label" } %>

  <%= render "shared/text_field", f: f, attribute: :username, args: { placeholder: "Username", label_class: "control-label" } %>

  <%= render "devise/shared/password_field", f: f, args: { label_addons: "(leave blank if you don't want to change it)" } %>

  <%= render "devise/shared/password_confirmation_field", f: f, args: {} %>

  <%= f.submit "Update", class: "btn btn-default btn-submit btn-green btn-bottom" %>
<% end %>