<div class= "form-group <%= "has-error has-feedback" if resource.errors.full_messages_for(:password_confirmation).any? %>">
  <%= f.label :password_confirmation, class: "control-label" %>
  <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control",
    placeholder: "Re-enter Password" %>
  <% if resource.errors.full_messages_for(:password_confirmation).any? %>
    <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
    <span class="error-explanation">
      <%= resource.errors.full_messages_for(:password_confirmation).first %>
    </span>
  <% elsif args[:label_addons].present? %>
  	<em><%= args[:label_addons] %></em>
  <% end %>
</div>