<div class= "form-group <%= "has-error has-feedback" if resource.errors.full_messages_for(:password).any? %>">
  <%= f.label :password, class: "control-label" %>
  <%= f.password_field :password, autocomplete: "off", class: "form-control", placeholder: "Password" %>
  <% if resource.errors.full_messages_for(:password).any? %>
    <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
    <span class="error-explanation">
      <%= resource.errors.full_messages_for(:password).first %>
    </span>
  <% elsif @validatable %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
  <% elsif args[:label_addons].present? %>
    <em><%= args[:label_addons] %></em>
  <% end %>
</div>