<div class="panel panel-default">
	<div class="panel-body">
		<div class="added-info">
			<%= render "list_item_image", item: item %>
			<div class="added-text">
				<p class="title">
					<%= item.title %>
				</p>
				<p class="author"><%= item.author.present? ? "by #{item.author}" : "Author unavailable" %></p>
				<p class="other"> <%= "<u>Categories</u>: #{item.categories}".html_safe if item.categories.present? %></p>
				<p class="other"> <%= "<u>Note from list creator</u>:<br><em>\"#{item.personal_note}\"</em>".html_safe if item.personal_note.present? %></p>
				<% if item.website.present? || item.amazon_link.present? %>
					<div class="external-book-links">
						<a href="#" class="get-a-copy btn btn-default btn-xs">Get a copy</a>
						<span class="external-book-buttons">
							<%= link_to("Google", item.website, class: "btn btn-default btn-xs btn-add btn-book") if item.website.present? %>
							<%= link_to("Amazon", item.amazon_link, class: "btn btn-default btn-xs btn-add btn-book") if item.amazon_link.present? %>
						</span>
					</div>
				<% end %>
			</div>
		</div>
	</div>
</div>