<div class="panel panel-default">
	<div class="panel-body">
		<div class="added-info">
			<%= render "list_item_image", item: item %>
			<div class="added-text">
				<p class="title">
					<% if item.website.present? %>
						<%= link_to item.title, item.website, target: "_blank" %>
					<% else %>
						<%= item.title %>
					<% end %>
				</p>
				<p class="author"><%= item.author.present? ? "by #{item.author}" : "Author unavailable" %></p>
				<p class="other"> <%= "<u>Categories</u>: #{item.categories}".html_safe if item.categories.present? %></p>
				<p class="other"> <%= "<u>Note from list creator</u>:<br><em>\"#{item.personal_note}\"</em>".html_safe if item.personal_note.present? %></p>
			</div>
		</div>
	</div>
</div>