<!DOCTYPE html>
<html>
<head>
  <title>ReadingList</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= controller.controller_name %>">

	<% if Rails.env.production? %>
  	<%= render "layouts/google_analytics_snippet" %>
  <% end %>

	<%= render "layouts/header" %>

	<div class="container">
  	<div class="col-xs-12 col-md-8 col-md-offset-2 central-wrapper">
			<% unless no_flash?("#{params[:controller]}##{params[:action]}") %>
				<%= render "layouts/flash_messages" %>
			<% end %>

			<%= yield %>
		</div>
	</div>

	<%= render "layouts/footer" %>

</body>
</html>
